header {
  height: 60px;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  border: solid 2px;
}

.logo > img {
  height: 30px;
}

.header-button {
  display: flex;
}

.log-button {
  display: flex;
  justify-content: space-between;
}
