body {
  font-family: "Maison Neue";
}

.loader {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.header,
.hero,
.item-wrapper,
.offer-wrapper,
.offer-item {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  padding: 10px;
}

.header {
  display: flex;
  align-items: center;
}

.header div {
  margin-right: 20px;
}

button,
.logo img,
.home-help {
  cursor: pointer;
}

.logo img {
  height: 30px;
  margin-right: 20px;
}

.header-button {
  display: flex;
  justify-content: space-between;
}

.log-button,
.sell-button {
  text-decoration: none;
  border-radius: 5px;
  padding: 5px 20px;
  box-sizing: border-box;
}

.log-button,
.home-sell button {
  border: solid #2cb1ba 2px;
  color: #2cb1ba;
  box-sizing: border-box;
}

.logout-button {
  color: white;
  border: solid tomato 2px;
  background-color: tomato;
}

.log-container :first-child {
  margin-right: 15px;
}

.sell-button,
.home-sell button {
  border: solid #2cb1ba 2px;
  background-color: #2cb1ba;
  color: white;
}

.search {
  background-color: #f5f6f7;
  width: 630px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 5px;
}

.search-icon {
  margin-right: 15px;
  padding: 5px;
  color: grey;
  font-size: 20px;
}

.searchTerm {
  background-color: #f5f6f7;
  width: 100%;
  border: none;
  font-size: 20px;
  outline: none;
}

.home {
  width: 1280px;
  height: 500px;
  object-fit: cover;
}

.home-sell {
  height: 220px;
  width: 360px;
  background-color: #fff;
  padding: 25px;
  border-radius: 5px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  box-sizing: border-box;
  top: 150px;
  left: 125px;
}

.home-sell button {
  font-size: 16px;
  border: solid #2cb1ba 2px;
  background-color: #2cb1ba;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}

.home-help {
  font-size: 14px;
  color: #2cb1ba;
  margin-top: 20px;
}

.item-wrapper {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.item img {
  height: 360px;
  width: 240px;
  box-sizing: border-box;
  margin-bottom: 10px;
  object-fit: contain;
}

.item {
  margin-bottom: 20px;
  margin-right: 10px;
}

.item-avatar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.item-avatar img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  object-fit: cover;
}

.item-username {
  margin-left: 10px;
}

.item-link {
  text-decoration: none;
  color: black;
}

.item-detail {
  display: flex;
  flex-direction: column;
}

.item-detail :first-child {
  font-weight: bold;
}

.item-detail :not(:first-child) {
  color: grey;
}

/* Offer page -> CSS to be splitted */

.offer-container {
  background-color: #eaedef;
}

.offer-wrapper {
  padding: 30px;
}

.offer-item {
  margin: 0 auto;
  padding: 20px;
  justify-content: space-around;
}

.offer-img {
  height: 600px;
  width: 460px;
  object-fit: contain;
}

.offer-detail {
  height: 540px;
  width: 350px;
  background-color: #ffffff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.offer-user {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.offer-user span {
  max-width: 100%;
}

.split {
  width: 100%;
  height: 1px;
  background: grey;
}

.offer-avatar {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
}

.offer-avatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.offer-buy {
  font-size: 16px;
  border: solid #2cb1ba 2px;
  background-color: #2cb1ba;
  color: white;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 5px 20px;
  text-decoration: none;
}

/* Form page -> CSS to be splitted */

.formulaire {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
}

.form-content {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

.form-content > input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  outline: none;
}

.form-content button {
  background-color: #2cb1ba;
  height: 45px;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
}

.checkbox-container {
  margin: 20px 0;
  padding: 10px;
}

.checkbox-container > p {
  text-align: left;
  color: lightgrey;
  font-size: 12px;
  margin-top: 10px;
}

.form-content input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

input[type="checkbox"] {
  cursor: pointer;
}

.form-content a {
  color: #2cb1ba;
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px;
}

/* Publish page -> CSS to be splitted */

.publish-wrapper {
  background-color: #ebedee;
}

.publish-container {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.publish-detail-wrapper {
  background-color: #fff;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

h2 {
  font-size: 26px;
  margin-top: 30px;
}

.file-select {
  background-color: #fff;
  padding: 24px;
  margin: 20px 0;
  box-shadow: 0 0 2px grey;
}

.dashed-preview-image {
  border: 1px #ebedee dashed;
  border-radius: 3px;
  height: 200px;
  display: flex;
  align-items: center;
}

.dashed-preview-image img {
  height: 90%;
  margin: 0 10px;
}

.remove-img-button {
  position: relative;
  color: black;
  background-color: white;
  right: 60px;
  bottom: 70px;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 4px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.file-select-dashed {
  border: 1px dashed #ebedee;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file-select-add {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  height: 45px;
  width: 200px;
}

.label-file {
  cursor: pointer;
  color: #0ab1ba;
  font-weight: 700;
}

.label-file > span {
  margin: 0 10px;
  vertical-align: middle;
}

.file-sign {
  font-size: 40px;
}

.file-add {
  display: none;
}

.detail-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.publish-detail-wrapper > .detail-input:not(:last-child) {
  height: 25px;
  border-bottom: 1px solid #ebedee;
  vertical-align: center;
}

.detail-input > h3 {
  font-weight: 400;
  margin: 0;
  vertical-align: baseline;
}

.detail-input > input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.detail-input > textarea {
  width: 50%;
  resize: none;
  border: none;
  border-bottom: 1px solid #ebedee;
  outline: none;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
}

.checkbox-section {
  width: 50%;
}

.checkbox-section > input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "Maison Neue";
  font-size: 16px;
  margin-bottom: 40px;
}

.checkbox-input > input {
  margin-right: 15px;
}

.publish-button {
  display: flex;
  justify-content: flex-end;
}

.publish-validation {
  background-color: #0ab1ba;
  color: #fff;
  border: none;
  border-radius: 4px;
  margin: 50px 0;
  font: inherit;
  outline: inherit;
  padding: 12px;
}

/* Checkout component -> CSS to be splitted */

.checkout-wrapper {
  background-color: #ebedee;
  height: 100vh;
  border: #eaedef 2px solid;
}

.checkout-container {
  background-color: white;
  width: 500px;
  align-items: center;
  margin: 20px auto;
  padding: 10px;
}

h4 {
  font-size: 20px;
  margin-bottom: 18px;
}

.checkout-detail {
  margin-bottom: 25px;
}

.splitter {
  border: 1px solid grey;
  margin: 18px 0;
}

.payment-step {
  border: #eaedef solid 1px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.tobepaid button {
  border: none;
  background-color: #00c06d;
  color: #ffffff;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}
